{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "experimentalTernaries": true,
  "useTabs": true,
  "importOrder": [
    "^@app(/.*)?$",
    "^@common(/.*)?$",
    "^@configs(/.*)?$",
    "^@languages(/.*)?$",
    "^@modules(/.*)?$",
    "^@shared(/.*)?$",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
