{
	"$schema": "https://swc.rs/schema.json",
	"sourceMaps": true,
	"jsc": {
		"target": "es2023",
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true
		},
		"baseUrl": "./",
		"loose": false
	},
	"minify": false
}
