NODE_ENV=development
PORT=3000

POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=<POSTGRES_PORT>
POSTGRES_USER=<POSTGRES_USERNAME>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_DB=<POSTGRES_DB_NAME>
POSTGRES_URL=<postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public>

ADMINER_PORT=
PGADM_PORT=
PGADM_MAIL=
PGADM_PASS=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

GOOGLE_OA2_CLIENT_ID=
GOOGLE_OA2_CLIENT_SECRET=

REDIS_HOST=your_redis_host
REDIS_PORT=6379

