NODE_ENV=development

HOST=
PORT=
BASE_URL=

ADMINER_PORT=
PGADM_PORT=
PGADM_MAIL=
PGADM_PASS=

JWT_SECRET=
JWT_REFRESH_SECRET=

AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=

EXAM_SERVICE_HOST=
EXAM_SERVICE_PORT=

FILE_SERVICE_HOST=
FILE_SERVICE_PORT=

ACHIEVEMENT_SERVICE_HOST=
ACHIEVEMENT_SERVICE_PORT=

LIVE_SERVICE_HOST=
LIVE_SERVICE_PORT=
LIVE_SERVICE_WS_HOST=
LIVE_SERVICE_WS_PORT=

# optional urls for DNS service discoveries
AUTH_SERVICE_URL=
EXAM_SERVICE_URL=
FILE_SERVICE_URL=
ACHIEVEMENT_SERVICE_URL=
LIVE_SERVICE_URL=
LIVE_SERVICE_WS_URL=
